div{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border: 1px solid black;
}

.translated{
    transform: perspective(15px) translateZ(-10px);
}

.scaled{
    transform: perspective(350px) scaleZ(4) rotateX(45deg) rotateY(30deg);
    margin-left: 200px;
}